###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# IDE/Editor settings
/.idea/

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###

# NPM/yarn dependencies
/node_modules/

# @symfony/encore build artefacts
/public/build/

